body {
  padding: 5px;
  font-family: 'Comic Neue', 'Creepster', 'Finger Paint', cursive;
  background: linear-gradient(45deg, #ff00ff, #00ffff, #ffff00, #ff0000);
  background-size: 400% 400%;
}

a {
  color: #00B7FF;
}
